@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .li-style{
        @apply p-[1rem] hover-underline-animation rounded-md transition-all ease-in-out font-normal;
    }
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hover-underline-animation {
    position: inherit;
}

.hover-underline-animation:hover {
    color: black;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 3px;
    left: 0;

    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
