@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .li-style {
    @apply hover-underline-animation rounded-md transition-all ease-in-out font-normal;
  }
}

.button-transition {
  @apply transition-all ease-in-out duration-300;
}

* {
  font-family: "Poppins", sans-serif;
}

.abs-home {
  /* From https://css.glass */
  background: rgba(95, 94, 94, 0.082);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(1, 5, 14, 0.3);
}

/* hide scroll bar */
::-webkit-scrollbar {
  display: none;
}

.button-hover {
  @apply border-2 border-black hover:text-black hover:border-gray-500 hover:bg-white transition-all ease-in-out duration-300;
}

@layer components {
  .mobile-nav-links {
    @apply block p-4 text-sm font-semibold text-accent-4 dark:text-gray-400 hover:bg-accent-1 dark:hover:bg-gray-900 hover:text-white rounded-xl;
  }

  .btn-main {
    @apply py-4 px-6 bg-accent-1 hover:bg-teal-500 text-sm text-white font-bold rounded-full transition-all duration-300;
  }

  .btn-secondary {
    @apply py-4 px-6 bg-accent-2 hover:bg-gray-700 hover:text-accent-1 text-sm text-white font-bold rounded-full transition duration-300;
  }

  .glass {
    @apply bg-[#01050e] bg-opacity-5 rounded-3xl shadow-lg backdrop-filter backdrop-blur-[70px] backdrop-contrast-[0.86] border border-gray-900 border-opacity-30;
  }

  .hero-dark {
    @apply bg-[url("./assets/pattern.jpg")] bg-cover bg-center bg-no-repeat;
  }

  .hero-light {
    @apply bg-[url("./assets/lightpattern.jpg")] bg-cover bg-center bg-no-repeat;
  }
}

body * {
  @apply transition-[background-image,background-color] ease-in-out duration-700;
  font-family: "Poppins", sans-serif;
}
